{
   "branches":[
      "main"
   ],
   "plugins":[
      [
         "@semantic-release/commit-analyzer",
         {
            "preset":"conventionalcommits"
         }
      ],
      "@semantic-release/release-notes-generator",
      {
         "preset":"conventionalcommits"
      },
      [
         "@semantic-release/github",
         {
            "failComment":false
         }
      ],
      [
         "@semantic-release/exec",
         {
            "successCmd":"echo \"git-tag=${nextRelease.gitTag}\" >> $GITHUB_OUTPUT"
         }
      ]
   ],
   "repositoryUrl":"https://github.com/virtool/workflow-pathoscope.git",
   "tagFormat":"${version}"
}