[tool.poetry]
name = "virtool-workflow-pathoscope"
version = "0.0.0"
description = ""
authors = ["Ian Boyes", "Mallory Loria", "Lilly Roberts", "Blake Smith"]
license = "MIT"

[tool.poetry.dependencies]
python = "~3.10"
virtool-workflow = "^5.4.2"
rust = "^0.1.1"

[tool.poetry.group.dev.dependencies]
black = "^23.1.0"
pre-commit = "^3.0.4"
pydantic-factories = "^1.15.0"
pytest = "^6.2.0"
pytest-aiohttp = "^0.3.0"
pytest-asyncio = "^0.15.1"
pytest-datafiles = "^2.0"
pytest-mock = "^3.7.0"
pytest-regressions = "^2.2.0"
syrupy = "^1.7.4"

[tool.pytest.ini_options]
markers = ["datafiles: load datafiles", "asyncio_mode: auto"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.maturin]
python-source = "python"